<% include partials/header %>

<h1>Welcome to the Homeland!</h1>
<div><img src="http://cdn1us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/2017/03/skyward.png?itok=TAiYRBA_"></img>
</div>
<div><img src="http://cdn1us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/2017/03/skyward.png?itok=TAiYRBA_"></img>
</div>
<div><img src="http://cdn1us.denofgeek.com/sites/denofgeekus/files/styles/main_wide/public/2017/03/skyward.png?itok=TAiYRBA_"></img></div>

<% include partials/footer %>
