<h1>Welcome to movie app</h1>
<h2>Search for the movie</h2>

<form action="/results" method="GET">
        <input type="text" name="search" placeholder="Search for the movie">
        <input type="submit">
</form>