

<h1>Registration</h1>

<form action="/register" method="POST">
    <label for="username">Username: </label>
    <input type="text" placeholder="Username" name="username">
     <label for="password">Password: </label>
    <input type="password" placeholder="Password" name="password">
    <button>Submit</button>
</form>


<ul>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>