


<h1>This is a secret page!</h1>


<p>The plan to rule the world...</p>


<img src="https://s-media-cache-ak0.pinimg.com/736x/14/f9/6f/14f96fa32022fc19bff7083ec3978e3d.jpg">


<ul>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>